In [42]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from tqdm import tqdm
import json

# process character

In [41]:
char_processed = pd.read_csv("/home/sevashasla/epfl/sem1/ada-2024-project-cyberbab00shka/data/MovieSummaries/character_processed.csv")

In [51]:
with open("/home/sevashasla/epfl/sem1/ada-2024-project-cyberbab00shka/src/seva/process_ethnicities_helper.json") as f:
    ethnicity_process_helper = json.load(f)

all_ethnicities = set(char_processed["Actor ethnicity (Freebase ID)"].values)
all_ethnicities_found = set(list(ethnicity_process_helper["fb2ethnicity"].keys())) & all_ethnicities
# create a pd table to concat

ethnicity_pd = []
for ethn_id in all_ethnicities_found:
    label = ethnicity_process_helper["fb2ethnicity"][ethn_id]
    if not label in ethnicity_process_helper["rename_ethnicities"]:
        continue
    result = {
        "ethn_id": ethn_id,
        "ethn_name": ethnicity_process_helper["rename_ethnicities"][label],
    }
    result["race"] = ethnicity_process_helper["ethnicity2race"][result["ethn_name"]]
    ethnicity_pd.append(result)
ethnicity_pd = pd.DataFrame(ethnicity_pd)
ethnicity_pd

        ethn_id  ethn_name                          race
0      /m/04y29     Muslim                          Arab
1      /m/03r_k      Inuit  Indigenous / Native American
2    /m/02r_qms  Brazilian                        Latino
3     /m/019kn7   Japanese                         Asian
4     /m/0bfjm7      Welsh                      European
..          ...        ...                           ...
337   /m/09vc4s    English                      European
338   /m/01srl7   Ossetian                      Caucasus
339   /m/0b79c7   Kashmiri                        Indian
340   /m/013s3n      Czech                      European
341  /m/026c9dq    Chilean                        Latino

[342 rows x 3 columns]

In [56]:
char_processed\
    .merge(ethnicity_pd, left_on="Actor ethnicity (Freebase ID)", right_on="ethn_id", how="left")\
    .drop(columns=["ethn_id", "Actor date of birth", "Movie release date"])\
    .to_csv("/home/sevashasla/epfl/sem1/ada-2024-project-cyberbab00shka/data/MovieSummaries/character_processed_2.csv", index=False)