In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from tqdm import tqdm

# process character

In [10]:
char_processed = pd.read_csv("/home/sevashasla/epfl/sem1/ada-2024-project-cyberbab00shka/data/MovieSummaries/character_processed.csv")

In [14]:
char_processed[pd.isna(char_processed["Character name"]) & ~pd.isna(char_processed["Freebase character ID"])]

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character name,Actor date of birth,Actor gender,Actor height (in meters),Actor ethnicity (Freebase ID),Actor name,Actor age at movie release,Freebase character/actor map ID,Freebase character ID,Freebase actor ID,actor_date_of_birth,movie_release_date
138536,32253799,/m/0gxz1nj,1999-12-02,NaN,1968-01-01,M,NaN,NaN,Kay Kay Menon,31.0,/m/0gy5dfc,/m/0h7b533,/m/0dl54k2,1968-01-01,1999-12-02
181924,73376,/m/0jq56,1938-02-16,NaN,1886-02-08,M,NaN,NaN,Charles Ruggles,NaN,/m/01x30z5,/m/0h5rtbt,/m/0337dn,1886-02-08 00:00:00,1938-02-16
249907,30955314,/m/0gg972_,2007-09-12,NaN,1987-08-04,M,1.82,NaN,Jang Geun Suk,20.0,/m/0gykr4z,/m/0clf91w,/m/027v6xy,1987-08-04,2007-09-12
249908,30955314,/m/0gg972_,2007-09-12,NaN,1964-10-16,M,NaN,NaN,Jeong Jin-yeong,42.0,/m/0clf90n,/m/0clf90r,/m/02ryk0t,1964-10-16,2007-09-12

In [19]:
char_processed[~pd.isna(char_processed["Freebase actor ID"]) & pd.isna(char_processed["Actor height (in meters)"])]

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character name,Actor date of birth,Actor gender,Actor height (in meters),Actor ethnicity (Freebase ID),Actor name,Actor age at movie release,Freebase character/actor map ID,Freebase character ID,Freebase actor ID,actor_date_of_birth,movie_release_date
8,975900,/m/03vyhn,2001-08-24,Tres,1959-03-09,M,NaN,/m/064b9n,Rodney A. Grant,42.0,/m/0bgchrs,/m/0bgchrw,/m/03ydsb,1959-03-09,2001-08-24
10,975900,/m/03vyhn,2001-08-24,Benchley,1935-08-13,M,NaN,NaN,Doug McGrath,66.0,/m/0bgcj4p,/m/0bgcj4s,/m/02r5d3j,1935-08-13,2001-08-24
11,975900,/m/03vyhn,2001-08-24,Rodale,1954-03-24,M,NaN,NaN,Robert Carradine,47.0,/m/0bgcj51,/m/0bgcj54,/m/026qxz,1954-03-24,2001-08-24
12,975900,/m/03vyhn,2001-08-24,NaN,1943-07-06,F,NaN,NaN,Rosemary Forsyth,58.0,/m/0cg7d4h,NaN,/m/03wc_yl,1943-07-06,2001-08-24
13,3196793,/m/08yl5d,2000-02-16,Reporter,1956-12-19,F,NaN,NaN,Alice Barrett,43.0,/m/0lr37d8,/m/0lr3z8g,/m/034dbm,1956-12-19,2000-02-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334981,913762,/m/03pcrp,1992-05-21,Additional Voices,1954,M,NaN,NaN,Sonny Byrkett,38.0,/m/0kr405f,/m/0kr405k,/m/0gn4bz,1954-01-01,1992-05-21
334982,913762,/m/03pcrp,1992-05-21,UN Spacy Commander,1954,M,NaN,NaN,Sonny Byrkett,38.0,/m/0kr407w,/m/0kr407_,/m/0gn4bz,1954-01-01,1992-05-21
334983,913762,/m/03pcrp,1992-05-21,Silvie Gena,1958,F,NaN,NaN,Susan Byrkett,34.0,/m/0kr40b9,/m/0kr40bf,/m/0gn4nd,1958-01-01,1992-05-21
334984,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,/m/0kr406h,/m/0b_vcv,1970-05-01,1992-05-21
334985,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,/m/0kr4090,/m/0bx7_j,1965-04-12,1992-05-21

In [19]:
import json
with open("/home/sevashasla/epfl/sem1/ada-2024-project-cyberbab00shka/src/seva/process_ethnicities.json")    as f:
    etnicities = json.load(f)

In [17]:
sss = {
    "European": '''English, French, German, Dutch, Italian, Spanish, Portuguese, Greek, Irish, Welsh, Scottish, Norwegian, Swedish, Danish, Finnish, Icelandic, Hungarian, Czech, Polish, Slovak, Austrian, Swiss, Belgian, Romanian, Bulgarian, Croatian, Serbian, Bosnian, Slovenian, Albanian, Luxembourger, Basque, Manx, Sicilian, Sardinian, Castilian, Transylvanian Saxon, Aromanian''',
    "Caucasus": '''Armenian, Georgian, Circassian, Azerbaijani, Jewish (Sephardi, Ashkenazi), Israeli, Turkish, Kurdish, Lebanese, Syrian, Iraqi, Yazidi, Assyrian, Iranian (Persian), Copt''',
    "African": '''African American, Afro-Cuban, Afro-Asian, Black British, Ethiopian, Yoruba, Xhosa, Zulu, Somali, Nigerian, Kikuyu, Akan, Sierra Leone Creole, Wolof, Mandinka, Malagasy''',
    "Asian": '''Chinese, Japanese, Korean, Vietnamese, Hmong, Filipino, Thai, Taiwanese, Indian, Pakistani, Bengali, Tamil, Telugu, Kashmiri, Gujarati, Punjabi, Afghan, Pashtun, Hazara, Sri Lankan Tamil, Sinhalese, Nepali, Burmese, Mongolian, Lao, Malaysian, Indonesian, Acehnese, Ryukyuan''',
    "Latino": '''Mexican, Puerto Rican, Cuban, Salvadoran, Honduran, Panamanian, Colombian, Venezuelan, Chilean, Argentine, Brazilian, Ecuadorian, Bolivian, Peruvian, Dominican, Uruguayan, Paraguayan, Guatemalan, White Latin American''',
    "Indigenous / Native American": '''Cherokee, Navajo, Sioux, Apache, Iroquois, Choctaw, Oneida, Mohawk, Lumbee, Ho-Chunk, Nez Perce, Inuit, Métis, First Nations, Native Hawaiian, Māori''',
    "Arab": '''Arab, Berber, Egyptian, Moroccan, Lebanese, Syrian, Iraqi, Kurdish, Persian, Jewish, Israeli, Yazidi, Copt''',
    "Pacific Islander": '''Hawaiian, Samoan, Tahitian, Tongan, Fijian, Chamorro''',
}

for k, v in sss.items():
    print(f'"{k}": {v.split(", ")},')

"European": ['English', 'French', 'German', 'Dutch', 'Italian', 'Spanish', 'Portuguese', 'Greek', 'Irish', 'Welsh', 'Scottish', 'Norwegian', 'Swedish', 'Danish', 'Finnish', 'Icelandic', 'Hungarian', 'Czech', 'Polish', 'Slovak', 'Austrian', 'Swiss', 'Belgian', 'Romanian', 'Bulgarian', 'Croatian', 'Serbian', 'Bosnian', 'Slovenian', 'Albanian', 'Luxembourger', 'Basque', 'Manx', 'Sicilian', 'Sardinian', 'Castilian', 'Transylvanian Saxon', 'Aromanian'],
"Caucasus": ['Armenian', 'Georgian', 'Circassian', 'Azerbaijani', 'Jewish (Sephardi', 'Ashkenazi)', 'Israeli', 'Turkish', 'Kurdish', 'Lebanese', 'Syrian', 'Iraqi', 'Yazidi', 'Assyrian', 'Iranian (Persian)', 'Copt'],
"African": ['African American', 'Afro-Cuban', 'Afro-Asian', 'Black British', 'Ethiopian', 'Yoruba', 'Xhosa', 'Zulu', 'Somali', 'Nigerian', 'Kikuyu', 'Akan', 'Sierra Leone Creole', 'Wolof', 'Mandinka', 'Malagasy'],
"Asian": ['Chinese', 'Japanese', 'Korean', 'Vietnamese', 'Hmong', 'Filipino', 'Thai', 'Taiwanese', 'Indian', 'Pakistani', 'Bengali', 'Tamil', 'Telugu', 'Kashmiri', 'Gujarati', 'Punjabi', 'Afghan', 'Pashtun', 'Hazara', 'Sri Lankan Tamil', 'Sinhalese', 'Nepali', 'Burmese', 'Mongolian', 'Lao', 'Malaysian', 'Indonesian', 'Acehnese', 'Ryukyuan'],
"Latino": ['Mexican', 'Puerto Rican', 'Cuban', 'Salvadoran', 'Honduran', 'Panamanian', 'Colombian', 'Venezuelan', 'Chilean', 'Argentine', 'Brazilian', 'Ecuadorian', 'Bolivian', 'Peruvian', 'Dominican', 'Uruguayan', 'Paraguayan', 'Guatemalan', 'White Latin American'],
"Indigenous / Native American": ['Cherokee', 'Navajo', 'Sioux', 'Apache', 'Iroquois', 'Choctaw', 'Oneida', 'Mohawk', 'Lumbee', 'Ho-Chunk', 'Nez Perce', 'Inuit', 'Métis', 'First Nations', 'Native Hawaiian', 'Māori'],
"Arab": ['Arab', 'Berber', 'Egyptian', 'Moroccan', 'Lebanese', 'Syrian', 'Iraqi', 'Kurdish', 'Persian', 'Jewish', 'Israeli', 'Yazidi', 'Copt'],
"Pacific Islander": ['Hawaiian', 'Samoan', 'Tahitian', 'Tongan', 'Fijian', 'Chamorro'],

In [4]:
char_raw = pd.read_csv('../../data/MovieSummaries/character.metadata.tsv', sep='\t', header=None)
char_raw.rename(columns={
    0: "Wikipedia movie ID",
    1: "Freebase movie ID",
    2: "Movie release date",
    3: "Character name",
    4: "Actor date of birth",
    5: "Actor gender",
    6: "Actor height (in meters)",
    7: "Actor ethnicity (Freebase ID)",
    8: "Actor name",
    9: "Actor age at movie release",
    10: "Freebase character/actor map ID",
    11: "Freebase character ID",
    12: "Freebase actor ID",
}, inplace=True)

In [58]:
def process_date(date_str, change_years=None, change_date=None):
    if change_years is None:
        change_years = {}
    if change_date is None:
        change_date = {}
    if date_str in change_date:
        date_str = change_date[date_str]
    if pd.isna(date_str):
        return None
    year = next(el for el in date_str.split('-') if len(el) == 4)
    if year in change_years:
        date_str = date_str.replace(year, change_years[year])
    # it's year
    if len(date_str) == 4:
        return pd.to_datetime(date_str, format='%Y')
    elif len(date_str) == 7:
        return pd.to_datetime(date_str, format='%Y-%m')
    elif len(date_str) == 10:
        return pd.to_datetime(date_str, format='%Y-%m-%d')
    elif len(date_str) == 22 or len(date_str) == 25:
        # it contains timezone info
        return pd.to_datetime(date_str).tz_localize(None)
    else:
        print(f"Unknown date format: {date_str}")
        return None

The dataset states that some actors were born in {'0019', '0183', '0195', '0852', '1075', '1474', '1498'}. Unfortunately, the processing of those dates is more difficult than processing one date '1010' from movies. We have found the information about some actors:
- Leland L. Jones	: 11-28-1963
- Holly Eglington	: 08-19-1975
- Qian Liu: 07-17-1990
- Mónica Dionne: 02-07-1967
- Dagney Kerr: 02-22-1972
- Dale Gibson: unknown
- Lu Xun: unknown

In [73]:
change_date = {
    '0019-02-22': "1972-02-22",
    "0019-11-28": "1963-11-28",
    '0183': None,
    "0019-10-30": None,
    '0195-02-07': "1967-02-07",
    '0852-03-10': "1990-07-17",
    '1075-08-19': "1975-08-19",
    '1474-07-12': None,
    '1498': None,
    "0019-03-22": "1936-12-20",
    "0019-11-26": "1970-11-26",

    '2896-04-26': '1896-04-26',
    '9900-09-07': '1976-03-18',
    '2050': '1971-12-06',
    '2936-12-24': '1936-12-24',
}

In [75]:
char_raw['Actor date of birth'] = char_raw['Actor date of birth'].apply(lambda x: process_date(x, change_date=change_date))

Where are quite a lot of films with wrong dates or actors with wrong film connections. We will not process them and simply delete

In [78]:
char_raw = char_raw[char_raw['Actor date of birth'] < char_raw['Movie release date']].copy()

In [80]:
char_raw["Actor ethnicity (Freebase ID)"].value_counts()

Actor ethnicity (Freebase ID)
/m/0dryh9k    13043
/m/041rx       9819
/m/0x67        9766
/m/02w7gg      6000
/m/033tf_      3816
              ...
/m/01hphz         1
/m/032m0b         1
/m/068y7m         1
/m/04hqxn         1
/m/04c28          1
Name: count, Length: 464, dtype: int64

# process movie

In [7]:
movie_raw = pd.read_csv('../../data/MovieSummaries/movie.metadata.tsv', sep='\t', header=None)

movie_raw.rename(columns={
    0: 'Wikipedia movie ID',
    1: 'Freebase movie ID',
    2: 'Movie name',
    3: 'Movie release date',
    4: 'Movie box office revenue',
    5: 'Movie runtime',
    6: 'Movie languages',
    7: 'Movie countries',
    8: 'Movie genres'
}, inplace=True)

# character_raw = pd.read_csv('../../data/MovieSummaries/character.metadata.tsv', sep='\t', header=None)
# plots_raw = pd.read_csv('../../data/MovieSummaries/plot_summaries.txt', sep='\t', header=None)

In [62]:
def process_languages(data, skip_languages=None):
    if skip_languages is None:
        skip_languages = set()
    skipped = 0
    new_lang_column = []
    for i, row in tqdm(data.iterrows(), total=data.shape[0]):
        new_lang_column.append([])
        if pd.isna(row['Movie languages']):
            continue
        # get the languages
        languages = eval(row['Movie languages'])
        # process them
        for lang_id, lang in languages.items():
            if lang in skip_languages:
                skipped += 1
                lang = "skip"
            lang = lang.lower()
            if "languages" in lang:
                lang = lang.replace("language", "").strip()
            elif "language" in lang:
                lang = lang.replace("language", "").strip()
            new_lang_column[-1].append(lang)
    print(f"Skipped: {skipped}")
    data["languages_human"] = new_lang_column
    return data

process_languages(
    movie_raw,
    skip_languages={"\ud801\udc16\ud801\udc32\ud801\udc49\ud801\udc4b\ud801\udc4c\ud801\udc32"}
)

100%|██████████| 81741/81741 [00:11<00:00, 7418.94it/s]

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,languages_human
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",[english]
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",[english]
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",[norwegian]
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",[english]
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",[german]
...,...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}",[english]
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0...",[english]
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}",[english]
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ...",[japanese]
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""...",[english]

I do not know how to properly process `\ud801\udc16\ud801\udc32\ud801\udc49\ud801\udc4b\ud801\udc4c\ud801\udc32`. 
The decoding to human-readable is 🀖🀲🀉🀋🀌🀲. It doesn't make sense. I decided to just drop the language "skip"

In [75]:
rename_countries = {
    'Democratic Republic of the Congo': ["Congo"],
    'Federal Republic of Yugoslavia': ["Yugoslavia"],
    'Socialist Federal Republic of Yugoslavia': ["Yugoslavia"],
    'German Language': ["Germany"],
    'Malayalam Language': ["India"],
    'Palestinian Territories' : ["Palestine"],
    'Palestinian territories': ["Palestine"],
    'Mandatory Palestine': ["Palestine"],
    'Iraqi Kurdistan': ["Iraq"],
    'Northern Ireland': ["Ireland"],
    'Serbia and Montenegro': ["Serbia", "Montenegro"],
    'Soviet occupation zone': ["Soviet Union"],
    'Ukranian SSR': ["Ukrainian SSR"],

}

countries_old_to_new = {
    "Czech Republic": "Czech",
    "Czechoslovakia": "Czech",
    "Yugoslavia": "Serbia",
    'Georgian SSR': "Georgia",
    "German Democratic Republic": "Germany",
    "Kingdom of Great Britain": "England",
    'Kingdom of Italy': "Italy",
    'Nazi Germany': "Germany",
    'Republic of China': "China",
    'Republic of Macedonia': "Macedonia",
    'Slovak Republic': "Slovakia",
    'South Africa': 'Africa',
    'Soviet Union': 'Russia',
    "Uzbek SSR": "Uzbekistan",
    "West Germany": "Germany",
    'Ukrainian SSR': "Ukraine",
    'Weimar Republic': "Germany",
}

We need to pre-process the countries.\
**Our renaming does not carry any political or other meaning. This is just a university project, and it should be treated accordingly.**

In [76]:
def process_countries(data):
    processed_country_column = []
    processed_country_column_new = []
    for i, row in tqdm(data.iterrows(), total=data.shape[0]):
        processed_country_column.append([])
        processed_country_column_new.append([])
        if pd.isna(row['Movie countries']):
            continue
        # get the countries
        countries = eval(row['Movie countries'])
        # process them
        for _, country in countries.items():
            for subcountry in rename_countries.get(country, [country]):
                processed_country_column[-1].append(subcountry)
                processed_country_column_new[-1].append(
                    countries_old_to_new.get(subcountry, subcountry)
                )
            
    data["countries"] = processed_country_column
    data["countries_new"] = processed_country_column_new
    return data

process_countries(
    movie_raw,
)

100%|██████████| 81741/81741 [00:31<00:00, 2573.91it/s]

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,languages_human,countries,countries_new
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",[english],[United States of America],[United States of America]
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",[english],[United States of America],[United States of America]
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",[norwegian],[Norway],[Norway]
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",[english],[United Kingdom],[United Kingdom]
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",[german],[Germany],[Germany]
...,...,...,...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}",[english],[United States of America],[United States of America]
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0...",[english],"[Ireland, United Kingdom]","[Ireland, United Kingdom]"
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}",[english],[United States of America],[United States of America]
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ...",[japanese],[Japan],[Japan]
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""...",[english],[Canada],[Canada]

In [92]:
# one turkish film has the wrong data
change_years = {'1010': '2010'}

def process_date(date_str):
    if pd.isna(date_str):
        return None
    year = next(el for el in date_str.split('-') if len(el) == 4)
    if year in change_years:
        date_str = date_str.replace(year, change_years[year])
    # it's year
    if len(date_str) == 4:
        return pd.to_datetime(date_str, format='%Y')
    elif len(date_str) == 7:
        return pd.to_datetime(date_str, format='%Y-%m')
    elif len(date_str) == 10:
        return pd.to_datetime(date_str, format='%Y-%m-%d')
    else:
        print(f"Unknown date format: {date_str}")
        return None

movie_raw['movie_release_date'] = movie_raw['Movie release date'].apply(lambda x: process_date(x))

In [8]:
movie_raw[movie_raw['Movie release date'].apply(lambda x: '0000' if pd.isna(x) else max(x.split("-"), key=len)) == '1010']

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres
62836,29666067,/m/0fphzrf,Hunting Season,1010-12-02,12160978.0,140.0,"{""/m/02hwyss"": ""Turkish Language"", ""/m/02h40lc...","{""/m/01znc_"": ""Turkey""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/02n4kr"": ""My..."

In [132]:
import json
with open("genre_rename.json") as f:
    genre_rename = json.load(f)

def process_genres(data):
    processed_genre_column = []
    for i, row in tqdm(data.iterrows(), total=data.shape[0]):
        processed_genre_column.append(set())
        if pd.isna(row['Movie genres']):
            continue
        # get the genres
        genres = eval(row['Movie genres'])
        # process them
        for genre in genres.values():
            for genre_processed in genre_rename.get(genre, [genre]):
                processed_genre_column[-1].add(genre_processed)
        processed_genre_column[-1] = list(processed_genre_column[-1])
    data["genres"] = processed_genre_column
    return data

process_genres(movie_raw);

100%|██████████| 81741/81741 [00:13<00:00, 5870.92it/s]